<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>2048</title>

  <link href="style/main.css" rel="stylesheet" type="text/css">
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="apple-touch-icon" href="meta/apple-touch-icon.png">
  <meta name="apple-mobile-web-app-capable" content="yes">

  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, target-densitydpi=160dpi, initial-scale=1.0, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
  <div class="container">
    <div class="heading">
      <h1 class="title">#2048</h1>
      <div class="scores-container">
        <div class="score-container">0</div>
        <div class="best-container">0</div>
      </div>
    </div>

    <div class="above-game">
      <p class="game-intro">Join the numbers and get to the <strong>2048 tile!</strong></p>
      <a class="restart-button" id="restart-button"></a>
    </div>

    <div class="game-container">
      <div class="game-message">
        <p></p>
        <div class="lower">
	        <a class="keep-playing-button">Keep going</a>
          <a class="retry-button">Try again</a>
        </div>
      </div>

      <div class="grid-container">
        <div class="grid-row">
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
        </div>
        <div class="grid-row">
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
        </div>
        <div class="grid-row">
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
        </div>
        <div class="grid-row">
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
        </div>
      </div>

      <div class="tile-container">

      </div>
    </div>

    <p class="game-explanation">
      <strong class="important">How to play:</strong> join the <strong>#2048</strong> IRC channel on <strong>Freenode</strong> and type commands such as "up" "right" "down" and "left" (or their shortcut equivalents "u" "r" "d" "l") to move the tiles. When two tiles with the same number touch, they <strong>merge into one!</strong>
    </p>
    <hr>
    <p>
    <strong class="important">Note:</strong> This site is <strong>NOT</strong> the official version of 2048. It is an experimental fork that aims to explore whether the game can be coordinated and played by multiple people at the same time. To play the original game, head on over to <a href="http://git.io/2048" target="_blank">http://git.io/2048</a>.
    </p>
    <hr>
    <p>
    From a technical perspective, this version uses <a href="http://pusher.com" target="_blank">Pusher</a> to update clients with realtime events and a <a href="https://github.com/github/hubot" target="_blank">Hubot</a> with <a href="https://github.com/nandub/hubot-irc" target="_blank">an IRC adapter</a> and <a href="https://github.com/loisaidasam/2048/blob/multiplayer/hubot/scripts/2048.coffee" target="_blank">a custom script</a> that calls a <a href="https://github.com/loisaidasam/2048/blob/multiplayer/webserver.py" target="_blank">Python/Flask webserver</a> to trigger the Pusher updates.
    </p>
    <hr>
    <p>
    Multiplayer IRC fork created by <a href="http://samsandberg.com" target="_blank">Sam Sandberg</a>. <a href="http://gabrielecirulli.github.io/2048/" target="_blank">Original game version</a> created by <a href="http://gabrielecirulli.com" target="_blank">Gabriele Cirulli.</a> Based on <a href="https://itunes.apple.com/us/app/1024!/id823499224" target="_blank">1024 by Veewo Studio</a> and conceptually similar to <a href="http://asherv.com/threes/" target="_blank">Threes by Asher Vollmer.</a>
    </p>
  </div>

  <script src="http://js.pusher.com/2.1/pusher.min.js" type="text/javascript"></script>
  <script src="js/bind_polyfill.js"></script>
  <script src="js/classlist_polyfill.js"></script>
  <script src="js/animframe_polyfill.js"></script>
  <script src="js/pusher_input_manager.js"></script>
  <script src="js/html_actuator.js"></script>
  <script src="js/grid.js"></script>
  <script src="js/tile.js"></script>
  <script src="js/local_storage_manager.js"></script>
  <script src="js/random_manager.js"></script>
  <script src="js/game_manager.js"></script>
  <script type="text/javascript">
  var startingMoves = {{ starting_moves|safe }};
  // Wait till the browser is ready to render the game (avoids glitches)
  window.requestAnimationFrame(function () {
    new GameManager(4, startingMoves, PusherInputManager, HTMLActuator, LocalStorageManager);
  });
  </script>

  <a href="https://github.com/loisaidasam/2048/tree/multiplayer"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://camo.githubusercontent.com/567c3a48d796e2fc06ea80409cc9dd82bf714434/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_darkblue_121621.png"></a>
</body>
</html>
